<?xml version="1.0" encoding="UTF-8"?>
<!-- <hibernate-configuration
    xmlns="http://www.hibernate.org/xsd/hibernate-configuration"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.hibernate.org/xsd/hibernate-configuration classpath://org/hibernate/hibernate-configuration-4.0.xsd"> -->
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>    
    <session-factory>
        <mapping class="com.lytz.finance.vo.Role" />
        <mapping class="com.lytz.finance.vo.User" />
        <mapping class="com.lytz.finance.vo.Topic" />
        <mapping class="com.lytz.finance.vo.Show" />
        <mapping class="com.lytz.finance.vo.Equity" />
        <!-- second layer cache non-lazy: specifies that properties of the entity mapped with lazy="true" cannot be cached when attribute-level lazy fetching is enabled -->
        <class-cache class="com.lytz.finance.vo.Role"
            include="non-lazy" usage="read-only" />
        <class-cache class="com.lytz.finance.vo.User"
            include="all" usage="transactional" />
        <collection-cache collection="com.lytz.finance.vo.User.roles"
            usage="transactional" />
        <collection-cache collection="com.lytz.finance.vo.User.topics"
            usage="read-only" />
        <class-cache class="com.lytz.finance.vo.Topic"
            include="non-lazy" usage="transactional" />
        <class-cache class="com.lytz.finance.vo.Topic"
            include="all" usage="transactional" />
        <class-cache class="com.lytz.finance.vo.Show"
            include="all" usage="transactional" />
        <class-cache class="com.lytz.finance.vo.Equity"
            include="all" usage="transactional" />
    </session-factory>
</hibernate-configuration>
