<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3.0.xsd">

    <display-name>LYTZ Finance System</display-name>

    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>messages</param-value>
</context-param>  

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:**/spring-*.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>webaApRootKey</param-name>
        <param-value>
            finance.webAppRoot
        </param-value>
    </context-param>

    <!-- <context-param> <param-name>spring.profiles.default</param-name> 
        <param-value>production</param-value> </context-param> -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>hibernateFilter</filter-name>
        <filter-class>
            org.springframework.orm.hibernate4.support.OpenSessionInViewFilter
        </filter-class>
        <init-param>
            <param-name>sessionFactoryBeanName</param-name>
            <param-value>sessionFactory</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>hibernateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- <filter> <filter-name>openEntityManagerInViewFilter</filter-name> 
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class> 
        </filter> <filter-mapping> <filter-name>openEntityManagerInViewFilter</filter-name> 
        <url-pattern>/*</url-pattern> </filter-mapping> -->

    <!-- <filter>
        <filter-name>rateLimiterFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy
        </filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter> -->

    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy
        </filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- <filter>
        <filter-name>clearSitemeshAppliedOnceFilter</filter-name>
        <filter-class>com.lytz.finance.service.ClearSitemeshAppliedOnceFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>clearSitemeshAppliedOnceFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping> -->

    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>   
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <filter>
        <!-- simon统计filter -->
        <filter-name>simon-filter</filter-name>
        <filter-class>org.javasimon.javaee.SimonServletFilter
        </filter-class>
        <!-- optional -->
        <init-param>
            <param-name>prefix</param-name>
            <param-value>com.lytz.finance</param-value>
        </init-param>
        <!-- optional basic plain-text console -->
        <init-param>
            <param-name>console-path</param-name>
            <param-value>/simon-filter</param-value>
        </init-param>
        <init-param>
            <param-name>report-threshold-ms</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>request-reporter-class</param-name>
            <param-value>org.javasimon.javaee.reqreporter.StandardRequestReporter
            </param-value>
        </init-param>
        <!-- optional, StopwatchSource instance -->
        <init-param>
            <param-name>stopwatch-source-props</param-name>
            <param-value>includeHttpMethodName=ALWAYS</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>simon-console-filter</filter-name>
        <filter-class>org.javasimon.console.SimonConsoleFilter
        </filter-class>
        <init-param>
            <param-name>url-prefix</param-name>
            <param-value>/simon-console</param-value>
        </init-param>
    </filter>


    <filter-mapping>
        <filter-name>simon-console-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>simon-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>kaptcha</servlet-name>
        <servlet-class>
            com.google.code.kaptcha.servlet.KaptchaServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>kaptcha</servlet-name>
        <url-pattern>/kaptcha.jpg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>metrics</servlet-name>
        <servlet-class>com.codahale.metrics.servlets.AdminServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>metrics</servlet-name>
        <url-pattern>/metrics/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.lytz.finance.utils.metrics.HealthCheckServletContextListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>com.lytz.finance.utils.metrics.MetricsServletContextListener
        </listener-class>
    </listener>

    <!-- spring loader -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <!-- clean up interspectors -->
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener
        </listener-class>
    </listener>
    <!-- spring new scope for web: request, session, global session -->
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/jsp/error/500.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/error/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/index.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/jsp/error/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>429</error-code>
        <location>/WEB-INF/jsp/error/429.jsp</location>
    </error-page>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true
            </trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>

    <session-config>
        <session-timeout>20</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <!--<secure>true</secure> -->
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

</web-app>